# Logs
logs/
*.log
error_log

# Temporary files
*.tmp
*~

# IDE files
.idea/
.vscode/

# Composer Dependencies
vendor/
composer.lock

# Cache Files
cache/
tmp/

# Environment Files
.env
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db

# Runtime files
/var/*
!/var/.gitkeep

# Local development environment
/docker/

# Local Docker Compose configuration
/docker-compose.yml